{% extends 'base.html.twig' %}

{% block body %}
    <h1>All TV shows from "{{ categoryName }}" category: </h1>
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }}</h2>
            <p>{{ program.synopsis }}</p>
        </div>
    {% endfor %}
{% endblock %}
